* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    gap: 30px;
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}

button {
    outline: none;
    border: none;
}

.btn {
    padding: 20px 40px;
    border-radius: 10px;
    color: #fff;
    background: #5eb9f0;
    font-size: 16px;
    font-weight: 600;
}

.btn-1 {
    position: relative;
}

.btn-1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    transition: width 0.25s linear;
    background: orange;
    border-radius: 10px;
}

.btn-1:hover::after {
    left: 0;
    width: 100%;
}

.btn-1 span {
    position: relative;
    z-index: 1;
}

.text {
    position: relative;
    font-size: 4rem;
}

.text::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    color: orange;
    overflow: hidden;
    transition: height 1s;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text:hover::before {
    justify-content: flex-start;
    top: 0;
    height: 100%;
}

/* Long text */
.long-text {
    position: relative;
}

.long-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    white-space: nowrap;
    color: orange;
    background: green;
}
